* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  background-color: #ededed;
  color: #233249;
  font-family: Helvetica, sans-serif;
}
header {
  background-color: #233249;
  color: #fff;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 65px;
}
.header-højre {
  width: 65px;
  display: flex;
}
.header-venstre {
  display: flex;
}
.menu-ikon {
  height: 25px;
  width: auto;
}
/* Her er en kommentar*/
.kea-logo {
  height: 20px;
  width: auto;
}

footer {
  height: 100px;
  background-color: #233249;
  color: #ededed;
}
